* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  width: 100%;
}

@font-face {
  font-family: 'Forum';
  src: url('../font/Forum.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Bold.woff2') format('woff2');
  font-weight: 700; // Bold
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-ExtraLight.woff2') format('woff2');
  font-weight: 200; // Extra Light (Ultra Light)
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Light.woff2') format('woff2');
  font-weight: 300; // Light
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Medium.woff2') format('woff2');
  font-weight: 500; // Medium
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Regular.woff2') format('woff2');
  font-weight: 400; // Normal
  font-style: normal;
  font-display: swap;
}

main {
  position: relative;
  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .content {
      height: 100%;
    }
    .bar {
      background-color: rgba(113, 7, 7, 1);
      height: 3px;
      width: 100%;
    }
    h2 {
      text-transform: uppercase;
      font-family: Forum, serif;
    }
  }
}

#welcome, #explore, #gallery, footer {
  background: rgba(3, 3, 3, 1);
  h2, p {
    color: white;
  }
}

#visiting, #video, #tickets, #contacts {
  background: white; // rgba(219, 219, 219, 1)
  h2 {
    color: rgba(157, 134, 101, 1);
  }
  p {
    color: black;
  }
}
