* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  width: 100%;
}

@font-face {
  font-family: 'Forum';
  src: url('../font/Forum-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-ExtraLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 200; // Extra Light (Ultra Light)
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300; // Light
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400; // Normal
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500; // Medium
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700; // Bold
}


main {
  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .content {
      height: 100%;
    }
    .bar {
      background-color: rgba(113, 7, 7, 1);
      height: 3px;
      width: 100%;
    }
    h2 {
      text-transform: uppercase;
      font-family: Forum, serif;
    }
  }
}

.main-gap {
  width: 1920px;
  height: 400px;
  position: relative;
  overflow: hidden;
  .gap-container {
    z-index: -4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    .gap-view {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

div.hall {
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

#video {
  iframe {
    width: 100%;
    height: 100%;
  }
  .scroller {
    img {
      width: 100%;
      height: 100%;
    }
  }
}


#welcome, #explore, #gallery, footer {
  background: rgba(3, 3, 3, 1);
  h2, p {
    color: white;
  }
}

#visiting, #video, #tickets, #contacts {
  background: white; // rgba(219, 219, 219, 1)
  h2 {
    color: rgba(157, 134, 101, 1);
  }
  p {
    color: black;
  }
}
