@media (min-width: 1920px) {
  #explore {
    height: 865px;
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
      //border: 2px solid red;
      height: 715px;
      display: grid;
      grid-template-columns: 660px 720px;
      grid-template-rows: 700px;
      justify-content: space-between;

      .text-content {
        position: relative;

        p {
          position: absolute;
          width: 100%;
        }

        .first {
          top: 193px;
        }

        .second {
          top: 295px;

          .yellow {
            color: rgba(157, 134, 101, 1);
          }
        }

        .third {
          top: 397px;
        }
      }

      .meninas-content {
        //border: 2px solid red;
        position: relative;
        top: 15px;
        width: 720px;
        height: 700px;
        .meninas-cleaned-container {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          z-index: 2;
          .meninas-cleaned {
            width: 100%;
            height: 100%;
          }
        }
        .meninas-yellow-container {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          z-index: 2;
          .meninas-yellow {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            z-index: 1;
          }
        }
        .meninas-branch-container {
          position: absolute;
          width: 39px;
          height: 100%;
          top: 15px;
          left: 1141px;
          z-index: 5;
          .meninas-branch {
            position: relative;
            height: 100%;
            z-index: 50;
          }
        }
      }
    }
  }
}


@media (min-width: 1024px) and (max-width: 1919px) {
  #explore {
    height: 1149px;
    .content {
      .text-content {
        margin-top: 60px;
        height: 267px;
        width: 100%;
        p {
          font-weight: 300;
          font-size: 20px;
          line-height: 38.5px;
        }
        .first {
          margin-top: 60px;
          height: 39px;
        }
        .second {
          height: 70px;
        }
        .third {
          display: none;
        }

      }
      .meninas-content {
        top: 62px;
        left: 132px;
        width: 720px;
        height: 700px;
        position: relative;
        .meninas-cleaned-container {
          display: none;
        }
        .meninas-branch-container {
          display: none;
        }
      }
    }
  }
}


@media (min-width: 768px) and (max-width: 1023px) {
  #explore {
    .content {
      height: 908px;

      p {
        display: none;
      }

      .meninas-content {
        margin-top: 40px;
        width: 728px;
        height: 705px;
        .meninas-yellow-container {
          width: 100%;
          height: 100%;
        }

        .meninas-branch-container {
          display: none;
        }

        .meninas-cleaned-container {
          display: none;
        }
      }
    }
  }
}


@media (min-width: 420px) and (max-width: 767px) {
  #explore {
    height: 551px;
    .content {
      position: relative;
      .text-content {
        p {
          display: none;
        }
      }
      .meninas-content {
        position: absolute;
        width: 380px;
        height: 368px;
        top: 143px;
        .meninas-cleaned-container {
          display: none;
        }
        .meninas-branch-container {
          display: none;
        }
      }
    }
  }
}

#explore {
  .content {
    .text-content {

      .second {
        .yellow {
          color: rgba(157, 134, 101, 1);
        }
      }
    }
    .meninas-content {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

//.image-bg {
//  width: 300px;
//  height: 200px;
//  background-image: url("photo.jpg");
//  background-size: 150px 100px; /* ширина и высота фонового изображения */
//  background-position: center;
//  background-repeat: no-repeat;
//}
