@media (min-width: 1920px) {
  #explore {
    height: 865px;
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
      border: 2px solid red;
      height: 715px;
      display: grid;
      grid-template-columns: 660px 720px;
      grid-template-rows: 700px;
      justify-content: space-between;

      .text-content {
        position: relative;

        p {
          position: absolute;
          width: 100%;
        }

        .first {
          top: 193px;
        }

        .second {
          top: 295px;

          .yellow {
            color: rgba(157, 134, 101, 1);
          }
        }

        .third {
          top: 397px;
        }
      }

      .meninas-content {
        position: relative;
        top: 15px;
        border: 2px solid red;
        .meninas-cleaned-container {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          z-index: 2;
          .meninas-cleaned {
            width: 100%;
            height: 100%;
          }
        }
        .meninas-yellow-container {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          z-index: 2;
          .meninas-yellow {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            z-index: 1;
          }
        }
        .meninas-branch-container {
          position: absolute;
          width: 39px;
          height: 100%;
          top: 15px;
          left: 1141px;
          z-index: 5;
          .meninas-branch {
            position: relative;
            height: 100%;
            z-index: 50;
          }
        }
      }
    }
  }
}

#explore {
  .content {
    .second {
      .yellow {
        color: rgba(157, 134, 101, 1);
      }
    }
  }
}

//.image-bg {
//  width: 300px;
//  height: 200px;
//  background-image: url("photo.jpg");
//  background-size: 150px 100px; /* ширина и высота фонового изображения */
//  background-position: center;
//  background-repeat: no-repeat;
//}
