@media (min-width: 1920px) {
  footer {
    height: 392px;
  }
  footer .content {
    width: 1440px;
  }
  footer .content .logo {
    width: 195px;
    top: 75px;
    left: 0;
  }
  footer .content .logo .pyramid {
    position: absolute;
    top: 9px;
  }
  footer .content .logo h3 {
    position: absolute;
    width: 120px;
    height: 31px;
    top: 11px;
    left: 75px;
    font-size: 28px;
    letter-spacing: 5px;
  }
  footer .content nav {
    width: 363px;
    height: 128px;
    top: 87px;
    left: 340px;
  }
  footer .content nav ul {
    display: grid;
    grid-template-rows: repeat(3, 26px);
    grid-template-columns: repeat(2, 106px);
    row-gap: 25px;
    column-gap: 170px;
  }
  footer .content nav ul li {
    font-size: 22px;
  }
  footer .content .social {
    width: 340px;
    height: 48px;
    top: 162px;
    left: 1100px;
  }
  footer .content .social img {
    height: 100%;
  }
  footer .content .bar {
    width: 1940px;
    top: 265px;
    left: -250px;
  }
  footer .content .bottom {
    top: 318px;
    height: 24px;
  }
}
@media (min-width: 1024px) and (max-width: 1919px) {
  footer {
    height: 368px;
  }
  footer .content {
    width: 984px;
  }
  footer .content .logo {
    width: 194px;
    height: 33px;
    position: absolute;
    left: 0;
    top: 60px;
  }
  footer .content .logo .pyramid {
    width: 49px;
    height: 26px;
  }
  footer .content .logo h3 {
    font-size: 28px;
    display: inline-block;
    width: 120px;
    margin-left: 20px;
  }
  footer .content nav {
    position: absolute;
    width: 313px;
    height: 128px;
    top: 65px;
    left: 239px;
  }
  footer .content nav ul {
    display: grid;
    grid-template-rows: repeat(3, 26px);
    grid-template-columns: repeat(2, 106px);
    row-gap: 25px;
    column-gap: 100px;
  }
  footer .content nav ul li a {
    font-size: 22px;
  }
  footer .content .social {
    width: 340px;
    height: 48px;
    top: 145px;
    left: 644px;
  }
  footer .content .bar {
    width: 100%;
    top: 243px;
  }
  footer .content .bottom {
    height: 122px;
    top: 246px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  footer {
    height: 411px;
  }
  footer .content {
    width: 728px;
  }
  footer .content .logo {
    width: 205px;
    height: 41px;
    top: 40px;
  }
  footer .content .logo .pyramid {
    width: 49px;
    height: 26px;
  }
  footer .content .logo h3 {
    margin-left: 25px;
    display: inline-block;
    font-size: 28px;
    letter-spacing: 5px;
  }
  footer .content nav {
    width: 393px;
    height: 121px;
    top: 57px;
    left: 279px;
  }
  footer .content nav ul {
    display: grid;
    grid-template-rows: repeat(3, 21px);
    grid-template-columns: repeat(2, 85px);
    row-gap: 25px;
    column-gap: 203px;
  }
  footer .content nav ul li a {
    font-size: 18px;
  }
  footer .content .social {
    width: 340px;
    height: 48px;
    top: 220px;
    left: 298px;
  }
  footer .content .bar {
    height: 1px;
    width: 100%;
    top: 308px;
  }
  footer .content .bottom {
    height: 102px;
    top: 309px;
  }
  .menu-opened-footer {
    position: absolute;
    top: 853px !important;
    height: 1000px !important;
  }
  .menu-opened-footer .logo {
    display: none !important;
  }
  .menu-opened-footer nav {
    display: none !important;
  }
  .menu-opened-footer .bottom {
    display: none !important;
  }
  .menu-opened-footer .social {
    position: absolute !important;
    top: 35px !important;
    left: 196px !important;
  }
  .menu-opened-footer .bar {
    height: 1px !important;
    top: 0 !important;
    left: 37px !important;
    width: 658px !important;
  }
}
@media (min-width: 420px) and (max-width: 767px) {
  footer {
    height: 400px;
  }
  footer .content {
    width: 380px;
  }
  footer .content .logo {
    position: absolute;
    width: 136px;
    height: 20px;
    top: 40px;
  }
  footer .content .logo .pyramid {
    position: absolute;
    width: 29px;
    height: 16px;
  }
  footer .content .logo h3 {
    position: absolute;
    left: 49px;
    top: 1px;
    width: 85px;
    height: 18px;
    font-size: 16px;
    letter-spacing: 5px;
  }
  footer .content nav {
    width: 100%;
    height: 88px;
    top: 90px;
  }
  footer .content nav ul {
    display: grid;
    align-content: space-between;
    justify-content: space-between;
    grid-template-columns: repeat(3, 77px);
    grid-template-rows: repeat(2, 44px);
  }
  footer .content nav ul li {
    font-size: 16px;
    font-weight: 200;
    line-height: 100%;
    letter-spacing: 2px;
  }
  footer .content nav ul a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
  }
  footer .content .social {
    position: absolute;
    width: 260px;
    height: 48px;
    top: 208px;
    left: 60px;
  }
  footer .content .social a {
    width: 48px;
    height: 48px;
  }
  footer .content .social a svg {
    width: 24px;
    height: 24px;
  }
  footer .content .bar {
    width: 420px;
    height: 2px;
    top: 296px;
  }
  footer .content .bottom {
    top: 338px;
  }
  footer .content .bottom ul {
    height: 22px;
  }
  footer .content .bottom ul li {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 2px;
  }
  footer .content .bottom ul .rs-mention {
    display: none;
  }
  .menu-opened-footer {
    position: absolute;
    top: 538px !important;
    height: 1000px !important;
  }
  .menu-opened-footer .logo {
    display: none !important;
  }
  .menu-opened-footer nav {
    display: none !important;
  }
  .menu-opened-footer .bottom {
    display: none !important;
  }
  .menu-opened-footer .social {
    position: absolute !important;
    top: 35px !important;
    left: 60px !important;
  }
  .menu-opened-footer .bar {
    height: 1px !important;
    top: 0 !important;
    left: 37px !important;
    width: 310px !important;
  }
}
footer {
  display: flex;
  justify-content: center;
  width: 100%;
}
footer .content {
  position: relative;
  height: 100%;
}
footer .content .logo {
  position: absolute;
}
footer .content .logo h3 {
  display: inline-block;
  font-family: Forum, serif;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  line-height: 100%;
  letter-spacing: 5px;
}
footer .content nav {
  position: absolute;
}
footer .content nav ul {
  height: 100%;
  width: 100%;
  list-style: none;
}
footer .content nav ul li a {
  letter-spacing: 2px;
  line-height: 100%;
  font-family: Roboto, sans-serif;
  font-weight: 200;
  color: white;
  text-decoration: none;
  transition: color 0.35s ease;
}
footer .content nav ul li a:hover {
  color: rgb(157, 134, 101);
}
footer .content .social {
  position: absolute;
  display: flex;
  justify-content: space-between;
}
footer .content .social a {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: center;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 50%;
  transition: border ease 0.4s;
}
footer .content .social a svg {
  width: 24px;
  height: 24px;
}
footer .content .social a svg path {
  fill: white;
  transition: fill ease 0.4s;
}
footer .content .social a:hover {
  border-color: rgb(157, 134, 101);
}
footer .content .social a:hover svg path {
  fill: rgb(157, 134, 101);
}
footer .content .bar {
  height: 3px;
  position: absolute;
  background-color: rgb(102, 102, 102);
}
footer .content .bottom {
  position: absolute;
  width: 100%;
}
footer .content .bottom ul {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
footer .content .bottom ul li {
  font-family: Roboto, sans-serif;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: white;
}

/*# sourceMappingURL=footer.css.map */
