@media (min-width: 1920px) {
  #gallery {
    padding-top: 75px;
    .content {
      height: 2125px;
      .container {
        margin-top: 125px;
        .column {
          width: 456px;
        }
      }
      .gallery-fogging {
        height: 360px;
      }
    }
  }
}


@media (min-width: 1024px) and (max-width: 1919px) {
  #gallery {
    .content {
      margin-top: 75px;
      height: 1460px;
      .container {
        margin-top: 110px;
        .column {
          width: 304px;
        }
      }
      .gallery-fogging {
        height: 239px;
      }
    }
  }
}



@media (min-width: 768px) and (max-width: 1023px) {
  #gallery {
    height: 1220px;
    .content {
      height: 100%;
      .container {
        margin-top: 90px;
        .column {
          width: 352px;
        }
      }
      .gallery-fogging {
        height: 189px;
      }
    }
  }
}


@media (min-width: 420px) and (max-width: 767px) and (pointer: coarse) {
  #gallery {
    height: 757px;
    .content {
      height: 100%;
      .container {
        margin-top: 90px;
        .column {
          width: 178px;
        }
      }
      .gallery-fogging {
        height: 189px;
      }
    }
  }
}


#gallery {
  position: relative;
  z-index: -3;
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    z-index: -3;
    .column {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: -2;
      .frame {
        width: 100%;
        padding-bottom: 24px;
        .picture {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
    .upper {
      transform: translateY(-50px);
    }
  }
  .gallery-fogging {
    display: block;
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  }
}
