@media (min-width: 1920px) {
  #gallery {
    padding-top: 75px;
    .content {
      height: 2125px;
      .container {
        margin-top: 125px;
        .column {
          width: 456px;
          .picture {
            padding-bottom: 24px;
          }
        }
        .central {
          transform: translateY(-50px);
        }
        .gallery-fogging {
          height: 360px;
        }
      }
    }
  }
}


@media (min-width: 1024px) and (max-width: 1919px) {
  #gallery {
    .content {
      margin-top: 75px;
      height: 1460px;
      .container {
        margin-top: 110px;
        .column {
          width: 304px;
          .picture {
            padding-bottom: 24px;
          }
        }
        .gallery-fogging {
          height: 239px;
        }
      }
    }
  }
}



@media (min-width: 768px) and (max-width: 1023px) {
  #gallery {
    height: 1220px;
    .content {
      .container {
        display: none;
        .column > div:last-child {
          display: none;
        }
      }
      .container > div:last-child {
        display: none;
      }
    }
  }
}


@media (min-width: 420px) and (max-width: 767px) {
  #gallery {
    height: 757px;
    .content {
      .container {

      }
    }
  }
}


#gallery {
  position: relative;
  z-index: -3;
  .container {
    display: flex;
    justify-content: space-between;
    z-index: -3;
    .column {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: -2;
      .picture {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .central {
      transform: translateY(-50px);
    }
    .gallery-fogging {
      display: block;
      position: absolute;
      z-index: -1;
      bottom: 0;
      width: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    }
  }
}
