@media (min-width: 1920px) {
    header {
        height: 150px;
        #line {
            width: 1440px;
            .logo {
                width: 189px;
                height: 33px;
                h3 {
                    font-size: 28px;
                }
                img.pyramid {
                    width: 49px;
                    height: 26px;
                }
            }
            nav {
                height: 100%;
                width: 775px;
                .menu-button {
                    display: none;
                }
                ul {
                    height: 100%;
                    width: 100%;
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    li {
                        a {
                            text-decoration: none;
                            font-family: Roboto, serif;
                            font-weight: 200;
                            font-size: 22px;
                            line-height: 100%;
                            letter-spacing: 2px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1919px) {
    header {
        height: 130px;
        #line {
            width: 984px;
            .logo {
                h3 {
                    margin-left: 25px;
                    font-size: 28px;
                }
            }
            nav {
                background: black;
                .menu-button {
                    width: 32px;
                    height: 18px;
                }
                ul {
                    display: none;
                }
            }
        }
    }
}


@media (min-width: 768px) and (max-width: 1023px) {
    header {
        height: 110px;
        #line {
            width: 728px;
            .logo {
                img {
                    width: 49px;
                    height: 26px;
                }
                h3 {
                    margin-left: 25px;
                    font-size: 28px;
                }
            }
            nav {
                .menu-button {
                    width: 32px;
                    height: 18px;
                }
                ul {
                    display: none;
                }
            }
        }
    }
}


@media (min-width: 420px) and (max-width: 767px) {
    header {
        height: 90px;
        #line {
            width: 380px;
            border: 2px solid red;

            .logo {
                width: 131px;
                height: 20px;
                .pyramid {
                    width: 29px;
                    height: 16px;
                }
                h3 {
                    font-size: 16px;
                    letter-spacing: 5px;
                }
            }
            nav {
                .menu-button {
                    width: 32px;
                    height: 18px;
                }
                ul {
                    display: none;
                }
            }
        }
    }
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: rgba(3, 3, 3, 1);
    #line {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .logo {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            h3 {
                color: white;
                font-family: Forum, serif;
                letter-spacing: 5px;
                font-weight: 200;
                line-height: 100%;
                text-transform: uppercase;
            }
        }
        nav {
            .menu-button {
                svg {
                    background-color: black;
                }
            }
            ul {
                li {
                    height: 100%;
                    width: 100%;
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        color: white;
                        text-decoration: none;
                        transition: color 0.4s ease;
                    }
                    a:hover {
                        color: rgba(157, 134, 101, 1);
                    }
                    a:active {
                        color: rgba(126, 108, 81, 1);
                    }
                }
            }
        }
    }
}

