header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: rgba(3, 3, 3, 1);
    #line {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        nav {
            ul {
                li {
                    height: 100%;
                    width: 100%;
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        color: white;
                        text-decoration: none;
                        transition: color 0.4s ease;
                    }
                    a:hover {
                        color: rgba(157, 134, 101, 1);
                    }
                    a:active {
                        color: rgba(126, 108, 81, 1);
                    }
                }
            }
        }
    }
}

@media (min-width: 1920px) {
    header {
        height: 150px;
        #line {
            width: 1440px;
            nav {
                height: 100%;
                width: 775px;
                ul {
                    height: 100%;
                    width: 100%;
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    li {
                        a {
                            text-decoration: none;
                            font-family: Roboto, serif;
                            font-weight: 200;
                            font-size: 22px;
                            line-height: 100%;
                            letter-spacing: 2px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1919px) {
    header {
        height: 130px;
        #line {
            width: 984px;
            nav {
                background: red;
                width: 100px;
                ul {
                    display: none;
                }
            }
        }
    }

}