@media (min-width: 1920px) {
  main {
    section {
      .bar {
        margin-top: 25px;
      }
      .content {
        width: 1440px;
      }
      h2 {
        font-weight: 400;
        font-size: 80px;
        line-height: 90px;
        letter-spacing: 5px;
      }
      p {
        font-family: Roboto, serif;
        font-weight: 300;
        font-size: 22px;
        line-height: 38.5px;
      }
    }
  }

  .logo {
    width: 215px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img.pyramid {
      width: 49px;
      height: 26px;
    }
    h3 {
      color: white;
      font-family: Forum, serif;
      font-weight: 200;
      font-size: 28px;
      line-height: 100%;
      letter-spacing: 5px;
      text-transform: uppercase;
    }
  }
}

@media (min-width: 1024px) {
  main {
    .bar {
      margin-top: 20px;
    }
    .content{
      width: 984px;
    }

  }
}
