@media (min-width: 1920px) {
  main section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main section div.bar {
    background-color: rgb(113, 7, 7);
    height: 3px;
    width: 100%;
    margin-top: 25px;
  }
  main section .content {
    width: 1440px;
    height: 100%;
  }
  main section h2 {
    font-family: Forum, serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
  }
  main section p {
    font-family: Roboto, serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 38.5px;
  }
  #explore {
    height: 865px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #explore .content {
    border: 2px solid red;
    height: 715px;
    display: grid;
    grid-template-columns: 660px 720px;
    grid-template-rows: 700px;
    justify-content: space-between;
  }
  #explore .content .text-content {
    position: relative;
  }
  #explore .content .text-content p {
    position: absolute;
    width: 100%;
  }
  #explore .content .text-content .first {
    top: 193px;
  }
  #explore .content .text-content .second {
    top: 295px;
  }
  #explore .content .text-content .second .yellow {
    color: rgb(157, 134, 101);
  }
  #explore .content .text-content .third {
    top: 397px;
  }
  #explore .content .slide-content {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 15px;
  }
  #explore .content .slide-content div.cleaned {
    border: 2px solid red;
    position: absolute;
    left: 0;
    top: 0;
    height: 700px;
    width: 720px;
    z-index: 1;
  }
  #explore .content .slide-content div.cleaned img.cleaned {
    width: 100%;
    height: 100%;
  }
  #explore .content .slide-content div.yellow {
    border: 2px solid red;
    position: absolute;
    left: 0;
    top: 0;
    height: 700px;
    width: 440px;
    z-index: 2;
  }
  #explore .content .slide-content div.yellow img.yellow {
    object-fit: none;
    width: 100%;
    height: 100%;
  }
  #video {
    padding: 75px 0;
  }
  #video div.content {
    height: 1246px;
  }
  #video div.content h2 {
    width: 610px;
    display: inline-block;
  }
  #video div.content p {
    display: inline-block;
    width: 720px;
    margin-left: 105px;
  }
  #video div.content div.large {
    height: 735px;
    width: 100%;
    margin-top: 75px;
  }
  #video div.content .video-container {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
  }
  #video div.content .video-container .item {
    width: 452px;
    height: 254px;
  }
  #video div.content .scroller-holder {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  #video div.content .scroller-holder .scroller {
    width: 200px;
    height: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  #video div.content .scroller-holder .scroller .arrow-holder {
    width: 10px;
    height: 12px;
    margin-top: 8px;
  }
  #video div.content .scroller-holder .scroller .point-holder {
    width: 12px;
    height: 12px;
  }
  #gallery {
    padding-top: 75px;
  }
  #gallery .content {
    height: 2125px;
  }
  #gallery .content .container {
    display: flex;
    justify-content: space-between;
    margin-top: 125px;
  }
  #gallery .content .container .column {
    position: relative;
    width: 456px;
    display: flex;
    flex-direction: column;
  }
  #gallery .content .container .column .item {
    padding-bottom: 24px;
  }
  #gallery .content .container .central {
    transform: translateY(-50px);
  }
  #tickets {
    padding: 75px 0;
  }
  #tickets .content {
    height: 743px;
  }
  #tickets .content .container {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
  }
  #tickets .content .container .item {
    width: 720px;
    height: 550px;
    position: relative;
  }
  #tickets .content .container .item h5 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
  }
  #tickets .content .container .item label {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
  }
  #tickets .content .container .item .ticket-type {
    position: absolute;
    left: 60px;
    top: 0;
    width: 270px;
    height: 211px;
  }
  #tickets .content .container .item .ticket-type ul {
    margin-top: 50px;
    list-style: none;
    height: 128px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  #tickets .content .container .item .ticket-type ul li {
    position: relative;
    width: 230px;
    height: 26px;
    color: black;
  }
  #tickets .content .container .item .ticket-type ul li input {
    width: 17px;
    height: 17px;
  }
  #tickets .content .container .item .ticket-type ul li label {
    position: relative;
    left: 23px;
  }
  #tickets .content .container .amount {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 341px;
  }
  #tickets .content .container .amount h5 {
    position: absolute;
    right: 0;
    top: 0;
  }
  #tickets .content .container .amount .basic {
    top: 58px;
  }
  #tickets .content .container .amount .senior {
    top: 159px;
  }
  #tickets .content .container .amount .ticket-pick {
    width: 150px;
    height: 91px;
    position: absolute;
  }
  #tickets .content .container .amount .ticket-pick .counter {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    border: 3px solid black;
    width: 150px;
    height: 50px;
    top: 41px;
  }
  #tickets .content .container .amount .ticket-pick .counter button, #tickets .content .container .amount .ticket-pick .counter input {
    border: none;
    background-color: white;
    color: black;
    width: 30px;
    text-align: center;
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-size: 22px;
    line-height: 100%;
  }
  #tickets .content .container .amount .ticket-pick .counter input {
    font-weight: 300;
  }
  #tickets .content .container .amount .ticket-pick .counter button {
    font-size: 32px;
    font-weight: 400;
  }
  #tickets .content .container #total {
    width: 150px;
    height: 33px;
    top: 300px;
    position: absolute;
  }
  #tickets .content .container #buy {
    width: 175px;
    height: 50px;
    top: 393px;
    right: 0;
    position: absolute;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: middle;
    background-color: black;
    color: white;
  }
  #tickets .content .container #buy {
    transition: color 0.5s ease, background-color 0.5s ease;
  }
  #tickets .content .container #buy:hover {
    background: rgb(157, 134, 101);
    color: black;
  }
  div.hall {
    width: 1920px;
    height: 400px;
    position: relative;
    overflow: hidden;
  }
  div.hall img {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #contacts {
    padding: 75px 0;
  }
  #contacts .content {
    height: 813px;
  }
  #contacts .content .container {
    padding-top: 75px;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  #contacts .content .container .description {
    width: 282px;
    height: 244px;
    position: relative;
  }
  #contacts .content .container .description h5 {
    width: 227px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
  }
  #contacts .content .container .description ul {
    position: absolute;
    top: 116px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 128px;
    list-style: none;
  }
  #contacts .content .container .description ul li {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
  }
  #contacts .content .container .map {
    width: 960px;
    height: 620px;
  }
  footer {
    display: flex;
    justify-content: center;
    height: 392px;
    width: 100%;
  }
  footer .content {
    width: 1440px;
    height: 392px;
    position: relative;
  }
  footer .content .logo {
    position: absolute;
    top: 75px;
    left: 0;
  }
  footer .content nav {
    width: 363px;
    height: 128px;
    position: absolute;
    top: 87px;
    left: 340px;
  }
  footer .content nav ul {
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: space-between;
    align-content: space-between;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
  }
  footer .content nav ul li a {
    font-family: Roboto, sans-serif;
    font-weight: 200;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
  }
  footer .content .social {
    position: absolute;
    width: 340px;
    height: 48px;
    top: 162px;
    left: 1100px;
    display: flex;
    justify-content: space-between;
  }
  footer .content .social img {
    height: 100%;
    display: block;
  }
  footer .content .bar {
    height: 3px;
    width: 1940px;
    top: 265px;
    left: -250px;
    position: absolute;
    background-color: rgb(102, 102, 102);
  }
  footer .content .bottom {
    position: absolute;
    top: 318px;
    width: 100%;
    height: 24px;
  }
  footer .content .bottom ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  footer .content .bottom ul li {
    font-family: Roboto, sans-serif;
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    color: white;
  }
  .logo {
    width: 215px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .logo img.pyramid {
    width: 49px;
    height: 26px;
  }
  .logo h3 {
    color: white;
    font-family: Forum, serif;
    font-weight: 200;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
}

/*# sourceMappingURL=style.css.map */
