@media (min-width: 1920px) {
  main {
    section {
      .bar {
        margin-top: 25px;
      }
      .content {
        width: 1440px;
      }
      h2 {
        font-weight: 400;
        font-size: 80px;
        line-height: 90px;
        letter-spacing: 5px;
      }
      p {
        font-family: Roboto, serif;
        font-weight: 300;
        font-size: 22px;
        line-height: 38.5px;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1919px) {
  main {
    section {
      .bar {
        margin-top: 20px;
        width: 100%;
      }
      h2 {
        width: 100%;
        height: 75px;
        font-family: Forum, serif;
        font-weight: 400;
        font-size: 50px;
        line-height: 75px;
        letter-spacing: 5px;
        text-transform: uppercase;
      }
      .content{
        width: 984px;
      }
    }
  }
}


@media (min-width: 768px) and (max-width: 1023px) {
  main {
    section {
      h2 {
        margin-top: 40px;
        width: 100%;
        font-family: Forum, serif;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 5px;
      }
      .bar {
        margin: 20px 0;
        width: 728px;
      }
      .content {
        width: 728px;
      }
    }
  }
}
