@media (min-width: 1920px) {
  #tickets {
    z-index: 10;
    padding: 75px 0;

    .content {
      height: 743px;

      .container {
        display: flex;
        justify-content: space-between;
        margin-top: 75px;

        .item {
          width: 720px;
          height: 550px;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          h5 {
            font-size: 28px;
          }

          label {
            font-size: 22px;
          }

          .ticket-type {
            position: absolute;
            left: 60px;
            top: 0;
            width: 270px;
            height: 211px;

            ul {
              margin-top: 50px;
              list-style: none;
              height: 128px;
              display: flex;
              justify-content: space-between;
              flex-direction: column;
              li {
                position: relative;
                width: 230px;
                height: 26px;
                color: black;
                input {
                  width: 17px;
                  height: 17px;
                  position: relative;
                  appearance: none;
                }
                input[type="radio"] {
                  width: 17px;
                  height: 17px;
                  border-radius: 50%;
                  border: 2px solid black;
                  transition: 0.2s all linear;
                  background: white;
                }
                input[type="radio"]:checked {
                  width: 17px;
                  height: 17px;
                  background: black;
                  outline: 3px solid white;
                  outline-offset: -5px;
                }
                label {
                  position: relative;
                  left: 23px;
                }
              }
            }
          }
        }

        .amount {
          position: absolute;
          top: 0;
          right: 0;
          width: 150px;
          height: 341px;

          h5 {
            position: absolute;
            right: 0;
            top: 0;
          }

          .basic {
            top: 58px;
          }

          .senior {
            margin-top: 5px;
            top: 159px;
          }

          .ticket-pick {
            width: 150px;
            height: 91px;
            position: absolute;

            .counter {
              display: flex;
              justify-content: space-evenly;
              position: absolute;
              width: 150px;
              height: 50px;
              top: 41px;
              right: 0;

              button, input {
                width: 30px;
                display: inline-block;
                font-size: 22px;
              }

              button {
                font-size: 32px;
              }
            }
          }
        }

        #total-prise {
          width: 200px;
          text-align: right;
          height: 33px;
          top: 300px;
          right: 0;
          position: absolute;
        }

        #buy {
          width: 175px;
          height: 50px;
          top: 393px;
          right: 0;
          position: absolute;
          font-size: 22px;
          letter-spacing: 2px;
        }
      }
    }
  }
}


@media (min-width: 1024px) and (max-width: 1919px) {
  #tickets {
    padding: 60px 0;
    .content {
      height: 598px;
      h2 {
        height: 75px;
      }
      .container {
        display: grid;
        grid-template-columns: 700px 175px;
        grid-template-rows: 440px;
        justify-content: space-between;
        margin-top: 60px;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        h5 {
          font-size: 28px;
        }
        .ticket-type {
          display: none;
        }
        .amount {
          position: relative;
          height: 321px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .ticket-pick {
            width: 175px;
            height: 90px;
            label {
              display: block;
              font-size: 22px;
              margin-bottom: 10px;
            }
            .counter {
              width: 100%;
              height: 50px;
              display: grid;
              grid-template-columns: repeat(3, 50px);
              justify-content: space-between;
              input {
                font-size: 22px;
                text-align: center;
              }
              button {
                font-size: 32px;
              }
            }
          }
          #buy {
            font-size: 22px;
            position: absolute;
            bottom: -121px;
            left: 0;
            width: 100%;
            height: 50px;
            z-index: 100;
          }
        }
      }
    }
  }
}


@media (min-width: 768px) and (max-width: 1023px) {
  #tickets {
    padding: 0 0 40px 0;
    .content {
      height: 593px;
      .container {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        img {
          width: 444px;
          height: 340px;
        }
        .ticket-type {
          display: none;
        }
        .amount {
          position: relative;
          height: 470px;
          width: 175px;
          h5 {
            font-size: 28px;
            height: 32px;
          }
          .ticket-pick {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            height: 86px;
            label {
              font-size: 22px;
            }
            .counter {
              display: flex;
              align-content: center;
              align-items: center;
              justify-content: space-evenly;
              width: 175px;
              height: 50px;
              border-width: 3px;
              button {
                height: 38px;
                width: 41px;
                font-size: 32px;
              }
              input {
                width: 41px;
                font-size: 22px;
              }
            }
          }
          .basic {
            top: 71px;
          }
          .senior {
            top: 182px;
          }
          #total-prise {
            position: absolute;
            width: 175px;
            height: 33px;
            top: 307px;
          }
          #buy {
            position: absolute;
            width: 175px;
            height: 50px;
            top: 381px;
            font-size: 22px;
          }
        }
      }
    }
  }
}


@media (min-width: 420px) and (max-width: 767px) and (pointer: coarse) {
  #tickets {
    height: 759px;
    .content {
      .container {
        position: relative;
        img {
          width: 100%;
          height: 160px;
          object-fit: cover;
        }
        .ticket-type {
          display: none;
        }
        .amount {
          position: absolute;
          width: 175px;
          height: 286px;
          top: 200px;
          left: 102px;
          h5 {
            width: 100%;
            text-align: center;
            font-size: 16px;
            letter-spacing: 0;
          }
          .ticket-pick {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            width: 175px;
            height: 84px;
            .counter {
              display: flex;
              align-content: center;
              align-items: center;
              justify-content: space-evenly;
              width: 100%;
              height: 50px;
              button {
                height: 38px;
                width: 41px;
                font-size: 32px;
              }
              input {
                width: 41px;
                font-size: 22px;
              }
            }
          }
          .basic {
            top: 39px;
          }
          .senior {
            top: 143px;
          }
          #total-prise {
            position: absolute;
            width: 100%;
            height: 19px;
            top: 267px;
            text-align: center;
            font-size: 16px;
          }
          #buy {
            position: absolute;
            top: 326px;
            width: 100%;
            height: 50px;
            font-size: 16px;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
}


#tickets {
  .content {
    .container {
      h5 {
        font-family: Roboto, sans-serif;
        font-weight: 700;
        line-height: 100%;
      }
      label {
        line-height: 100%;
        font-family: Roboto, sans-serif;
        font-weight: 300;
      }
      .ticket-pick {
        .counter {
          border: 3px solid black;
          button {
            border: none;
            color: black;
            background-color: white;
            font-weight: 400;
            text-align: center;
            font-family: Roboto, sans-serif;
            line-height: 100%;
          }
          input {
            color: black;
            font-weight: 300;
            text-align: center;
            font-family: Roboto, sans-serif;
            line-height: 100%;
          }
        }
      }
      #buy {
        font-weight: 300;
        line-height: 100%;
        font-family: Roboto, sans-serif;
        text-align: center;
        vertical-align: middle;
        background-color: black;
        color: white;
        transition: color 0.5s ease, background-color 0.5s ease;
      }
      #buy:hover {
        background: rgba(157, 134, 101, 1);
        color: black;
      }
    }
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}