@media (min-width: 1920px) {
  #tickets {
    z-index: 10;
    padding: 75px 0;
  }
  #tickets .content {
    height: 743px;
  }
  #tickets .content .container {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
  }
  #tickets .content .container .item {
    width: 720px;
    height: 550px;
    position: relative;
  }
  #tickets .content .container .item h5 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
  }
  #tickets .content .container .item label {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
  }
  #tickets .content .container .item .ticket-type {
    position: absolute;
    left: 60px;
    top: 0;
    width: 270px;
    height: 211px;
  }
  #tickets .content .container .item .ticket-type ul {
    margin-top: 50px;
    list-style: none;
    height: 128px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  #tickets .content .container .item .ticket-type ul li {
    position: relative;
    width: 230px;
    height: 26px;
    color: black;
  }
  #tickets .content .container .item .ticket-type ul li input {
    width: 17px;
    height: 17px;
    position: relative;
    appearance: none;
  }
  #tickets .content .container .item .ticket-type ul li input[type=radio] {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid black;
    transition: 0.2s all linear;
    background: white;
  }
  #tickets .content .container .item .ticket-type ul li input[type=radio]:checked {
    width: 17px;
    height: 17px;
    background: black;
    outline: 3px solid white;
    outline-offset: -5px;
  }
  #tickets .content .container .item .ticket-type ul li label {
    position: relative;
    left: 23px;
  }
  #tickets .content .container .amount {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 341px;
  }
  #tickets .content .container .amount h5 {
    position: absolute;
    right: 0;
    top: 0;
  }
  #tickets .content .container .amount .basic {
    top: 58px;
  }
  #tickets .content .container .amount .senior {
    top: 159px;
  }
  #tickets .content .container .amount .ticket-pick {
    width: 150px;
    height: 91px;
    position: absolute;
  }
  #tickets .content .container .amount .ticket-pick .counter {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    border: 3px solid black;
    width: 150px;
    height: 50px;
    top: 41px;
  }
  #tickets .content .container .amount .ticket-pick .counter button, #tickets .content .container .amount .ticket-pick .counter input {
    border: none;
    background-color: white;
    color: black;
    width: 30px;
    text-align: center;
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-size: 22px;
    line-height: 100%;
  }
  #tickets .content .container .amount .ticket-pick .counter input {
    font-weight: 300;
  }
  #tickets .content .container .amount .ticket-pick .counter button {
    font-size: 32px;
    font-weight: 400;
  }
  #tickets .content .container #total {
    width: 150px;
    height: 33px;
    top: 300px;
    position: absolute;
  }
  #tickets .content .container #buy {
    width: 175px;
    height: 50px;
    top: 393px;
    right: 0;
    position: absolute;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: middle;
    background-color: black;
    color: white;
  }
  #tickets .content .container #buy {
    transition: color 0.5s ease, background-color 0.5s ease;
  }
  #tickets .content .container #buy:hover {
    background: rgb(157, 134, 101);
    color: black;
  }
}

/*# sourceMappingURL=tickets.css.map */
