
@media (min-width: 1920px) {
  #video {
    padding: 75px 0;

    div.content {
      height: 1246px;

      h2 {
        width: 610px;
        display: inline-block;
      }

      p {
        display: inline-block;
        width: 720px;
        margin-left: 105px;
      }

      .video-large-container {
        position: relative;
        height: 735px;
        width: 100%;
        margin-top: 75px;

        .video-large {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .video-petite-container {
        display: flex;
        justify-content: space-between;
        margin-top: 42px;

        .video-petite-holder {
          width: 452px;
          height: 254px;
        }
      }

      .scroller-holder {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        .scroller {
          width: 200px;
          height: 12px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          align-content: center;

          .arrow-holder {
            width: 10px;
            height: 12px;
            margin-top: 8px;
          }

          .point-holder {
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }
}


@media (min-width: 1024px) and (max-width: 1919px) {
  #video {
    padding: 60px 0;
    .content {
      height: 881px;
      position: relative;
      border: 2px solid red;
      h2 {
        height: 75px;
      }
      p {
        display: none;
      }
      .video-large-container {
        width: 984px;
        height: 504px;
        margin-top: 40px;
      }
      .video-petite-container {
        margin-top: 40px;
        height: 170px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(1, 170px);
        justify-content: space-between;
      }
      .scroller-holder {
        position: absolute;
        bottom: 0;
        height: 17px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(7, 12px);
        grid-template-rows: 1fr;
        column-gap: 20px;
        border: 2px solid red;
        z-index: 100;
        img {
          height: 12px;
          width: 12px;
        }
      }
    }
  }
}


@media (min-width: 768px) and (max-width: 1023px) {
  #video {
    padding: 0 0 40px 0;
    .content {
      height: 757px;
      p {
        display: none;
      }
      .video-large-container {
        width: 728px;
        height: 386px;
        margin-top: 20px;
        iframe {
          width: 100%;
          height: 100%;
        }
      }
      .video-petite-container {
        display: grid;
        grid-template-columns: repeat(3, 354px);
        grid-template-rows: 199px;
        justify-content: space-between;
        height: 199px;
        margin-top: 20px;
      }
      .scroller-holder {
        width: 100%;
        .scroller {
          height: 12px;
          width: 100%;
          margin-top: 20px;
          display: grid;
          justify-content: center;
          grid-template-columns: repeat(7, 12px);
          grid-template-rows: 12px;
          column-gap: 20px;
          align-items: center;
          button {
            transform: translateY(2px);
          }
        }

      }
    }
  }
}
