@media (min-width: 1920px) {
  #visiting {
    padding-bottom: 75px;
    .content {
      height: 1116px;
      width: 1440px;
      margin-top: 75px;
      h2 {
        width: 100%;
        height: 90px;
      }
      .panorama-container {
        margin-top: 75px;
        display: grid;
        justify-content: space-between;
        align-content: space-evenly;
        grid-template-columns: repeat(3, 440px);
        grid-template-rows: repeat(2, 424px);
        row-gap: 75px;
        .panorama {
          img {
            width: 440px;
            height: 285px;
          }
          h3 {
            margin-top: 25px;
            font-family: Forum, serif;
            font-weight: 400;
            font-size: 32px;
            line-height: 100%;
            letter-spacing: 5px;
            text-transform: uppercase;
          }
          .panorama-bar {
            margin-top: 10px;
            width: 300px;
          }
          p {
            font-family: Roboto, sans-serif;
            line-height: 100%;
            font-weight: 200;
            color: rgba(0, 0, 0, 1);
            margin-top: 10px;
          }
          p.top {
            font-size: 22px;
          }
          p.bottom {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1919px) {
  #visiting {
    padding: 60px 0;
    .content {
      height: 1313px;
    }
  }
}

#visiting {
  display: flex;
  justify-content: center;
}

.panorama-bar {
  background-color: rgba(113, 7, 7, 1);
  height: 2px;
  transition: width 0.5s ease;
}

.panorama-bar-on-hover {
  width: 440px !important;
}