@media (min-width: 1920px) {
  #visiting {
    padding-bottom: 75px;
    .content {
      height: 1116px;
      width: 1440px;
      margin-top: 75px;
      h2 {
        width: 100%;
        height: 90px;
      }
      .panorama-container {
        margin-top: 75px;
        display: grid;
        justify-content: space-between;
        align-content: space-evenly;
        grid-template-columns: repeat(3, 440px);
        grid-template-rows: repeat(2, 424px);
        row-gap: 75px;
        .panorama {
          img {
            width: 440px;
            height: 285px;
          }
          h3 {
            margin-top: 25px;
            font-size: 32px;
            letter-spacing: 5px;
          }
          .panorama-bar {
            margin-top: 10px;
            width: 300px;
          }
          .panorama-bar-non-hover {
            width: 300px;
          }
          .panorama-bar-hover {
            width: 440px;
          }
          p {
            margin-top: 10px;
          }
          p.top {
            font-size: 22px;
          }
          p.bottom {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1919px) {
  #visiting {
    padding: 60px 0 0 0;
    .content {
      height: 1373px;
      .panorama-container {
        padding: 60px 108px;
        height: 1275px;
        width: 100%;
        display: grid;
        align-content: space-between;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        justify-content: space-between;
        justify-items: center;
        .panorama {
          width: 330px;
          height: 345px;
          img {
            width: 330px;
            height: 215px;
          }
          h3 {
            height: 31px;
            margin-top: 25px;
            font-size: 28px;
            letter-spacing: 3px;
          }
          .panorama-bar {
            margin-top: 9px;
          }
          .panorama-bar-non-hover {
            width: 150px;
          }
          .panorama-bar-hover {
            width: 330px;
          }
          p.top {
            height: 23px;
            margin-top: 10px;
            font-size: 20px;
          }
          p.bottom {
            height: 19px;
            margin-top: 10px;
            font-size: 16px;
          }
        }

      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #visiting {
    padding: 0 0 80px 0;
    .content {
      height: 1146px;
      .bar {
        margin-bottom: 40px;
      }
      .panorama-container {
        display: grid;
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: repeat(3, 301px);
        row-gap: 40px;
        width: 100%;
        height: 983px;
        justify-content: space-evenly;
        align-content: center;
        .panorama {
          img {
            width: 280px;
            height: 180px;
          }
          h3 {
            margin-top: 25px;
            height: 24px;
            font-size: 22px;
            letter-spacing: 3px;
          }
          .panorama-bar {
            height: 2px;
            margin: 10px 0;
          }
          .panorama-bar-non-hover {
            width: 150px;
          }
          .panorama-bar-hover {
            width: 280px;
          }
          p.top {
            height: 21px;
            font-size: 18px;
          }
          p.bottom {
            margin-top: 10px;
            height: 19px;
            font-weight: 200;
            font-size: 16px;
          }
        }
      }
    }
  }
}


@media (min-width: 420px) and (max-width: 767px) {
  #visiting {
    .content {
      height: 2153px;
      .panorama-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 1970px;
        .panorama {
          width: 280px;
          height: 295px;
          img {
            height: 180px;
          }
          h3 {
            margin-top: 25px;
            height: 20px;
          }
          .panorama-bar {
            margin: 10px 0;
            transition: all 0.5s ease;
          }
          .panorama-bar-non-hover {
            width: 150px;
          }
          .panorama-bar-hover {
            width: 280px;
          }
          p {
            font-size: 16px;
            letter-spacing: 0;
          }
          p.bottom {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

#visiting {
  display: flex;
  justify-content: center;
  .content {
    .panorama-container {
      .panorama {
        img {
          width: 100%;
        }
        a {
          display: block;
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: black;
        }
        h3 {
          width: 100%;
          font-family: Forum, serif;
          text-transform: uppercase;
          line-height: 100%;
          font-weight: 400;
        }
        p {
          font-family: Roboto, sans-serif;
          line-height: 100%;
          font-weight: 200;
        }
      }
    }
  }
}

.panorama-bar {
  background-color: rgba(113, 7, 7, 1);
  height: 2px;
  transition: width 0.5s ease;
}
