@media (min-width: 1920px) {
  #visiting {
    padding-bottom: 75px;
    .content {
      height: 1116px;
      width: 1440px;
      margin-top: 75px;
      h2 {
        width: 100%;
        height: 90px;
      }
      .panorama-container {
        margin-top: 75px;
        display: grid;
        justify-content: space-between;
        align-content: space-evenly;
        grid-template-columns: repeat(3, 440px);
        grid-template-rows: repeat(2, 424px);
        row-gap: 75px;
        .panorama {
          img {
            width: 440px;
            height: 285px;
          }
          h3 {
            margin-top: 25px;
            font-size: 32px;
            letter-spacing: 5px;
          }
          .panorama-bar {
            margin-top: 10px;
            width: 300px;
          }
          p {
            margin-top: 10px;
          }
          p.top {
            font-size: 22px;
          }
          p.bottom {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1919px) {
  #visiting {
    padding: 60px 0 0 0;
    .content {
      height: 1373px;
      border: 2px solid red;
      .panorama-container {
        padding: 60px 108px;
        border: 1px solid red;
        height: 1275px;
        width: 100%;
        display: grid;
        align-content: space-between;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        justify-content: space-between;
        justify-items: center;
        .panorama {
          border: 1px solid red;
          width: 330px;
          height: 345px;
          img {
            width: 330px;
            height: 215px;
          }
          h3 {
            height: 31px;
            margin-top: 25px;
            font-size: 28px;
            letter-spacing: 3px;
          }
          .panorama-bar {
            margin-top: 9px;
          }
          p.top {
            height: 23px;
            margin-top: 10px;
            font-size: 20px;
          }
          p.bottom {
            height: 19px;
            margin-top: 10px;
            font-size: 16px;
          }
        }

      }
    }
  }
}

#visiting {
  display: flex;
  justify-content: center;
  .content {
    .panorama-container {
      .panorama {
        h3 {
          width: 100%;
          font-family: Forum, serif;
          text-transform: uppercase;
          line-height: 100%;
          font-weight: 400;
        }
        p {
          font-family: Roboto, sans-serif;
          line-height: 100%;
          font-weight: 200;
          color: rgba(0, 0, 0, 1);
        }
      }
    }
  }
}

.panorama-bar {
  background-color: rgba(113, 7, 7, 1);
  height: 2px;
  transition: width 0.5s ease;
}

.panorama-bar-on-hover {
  width: 440px !important;
}