@media (min-width: 1920px) {
  #welcome {
    height: 810px;
    .content {
      .text-content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 150px;
        h1 {
          position: relative;
          font-weight: 400;
          font-size: 80px;
          line-height: 90px;
          letter-spacing: 5px;
          z-index: 3;
        }
        h4 {
          width: 445px;
          height: 33px;
          position: absolute;
          top: 205px;
          font-weight: 300;
          font-size: 28px;
          line-height: 100%;
          letter-spacing: 2px;
        }
        .discover-button {
          width: 360px;
          height: 75px;
          top: 313px;
          font-size: 22px;
          line-height: 100%;
          letter-spacing: 2px;
          text-align: center;
          vertical-align: middle;
          a {
            font-weight: 300;
            font-size: 22px;
          }
        }
        .discover-button:hover {
          background-color: rgba(157, 134, 101, 1);
        }
      }
      .joconda-holder {
        position: relative;
      }
      .joconda-shadow {
        position: absolute;
        background: linear-gradient(to right, rgba(0, 0, 0, 1), transparent);
        z-index: 1;
        top: 0;
        left: 440px;
        height: 810px;
        width: 300px;
      }
      img {
        z-index: 0;
        top: 0;
        right: 0;
        position: absolute;
        width: 1000px;
      }
      .welcome-slider-io {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        width: 600px;
        height: 120px;
        position: absolute;
        font-weight: 400;
        font-size: 22px;
        line-height: 40px;
        .welcome-slider-io-metadata {
          transform: translateX(5px);
          width: 76px;
          height: 40px;
          #welcome-slider-current-picture {
            width: 25px;
            height: 40px;
          }
          .bar {
            margin: 0;
            padding: 0;
            height: 22px;
            width: 2px;
            background-color: white;
          }
          #total-pictures {
            width: 25px;
            height: 40px;
          }
        }
        .welcome-slider-io-pointer {
          width: 180px;
          height: 16px;
          .welcome-slider-io-point {
            width: 16px;
          }
        }
        .welcome-slider-io-swiper {
          width: 80px;
          height: 8px;
          display: flex;
          justify-content: space-between;
          align-content: center;
          .welcome-slider-io-right-arrow, .welcome-slider-io-left-arrow {
            position: relative;
            width: 30px;
            height: 8px;
            object-fit: cover;
            img {
              height: 100%;
              width: 100%;
            }
          }
        }
      }
      .main-menu-panorama {
        display: none;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1919px) {
  #welcome {
    height: 585px;
    .content {
      .text-content {
        position: absolute;
        width: 100%;
        height: 100%;
        h1 {
          width: 398px; // on-change 396
          height: 180px;
          position: absolute;
          top: 50px;
          left: 20px;
          font-weight: 400;
          font-size: 50px;
          line-height: 90px;
          letter-spacing: 5px;
          text-align: left;
          z-index: 3;
        }
        h4 {
          width: 445px;
          height: 28px;
          position: absolute;
          top: 255px;
          left: 20px;
          font-weight: 300;
          font-size: 24px;
          line-height: 100%;
          letter-spacing: 2px;
          text-align: left;
        }
        .discover-button {
          width: 300px;
          height: 60px;
          top: 333px;
          left: 20px;
          font-size: 20px;
          line-height: 100%;
          letter-spacing: 2px;
          text-align: center;
          vertical-align: middle;
        }
      }
      .joconda-holder {
        position: relative;
        img {
          z-index: 0;
          top: 0;
          right: 0;
          position: absolute;
          object-fit: cover;
          height: 525px;
          width: 700px;
          left: 304px;
        }
      }
      .joconda-shadow {
        position: absolute;
        background: linear-gradient(to right, rgba(0, 0, 0, 1), transparent);
        z-index: 1;
        top: 0;
        left: 304px;
        height: 525px;
        width: 250px;
      }
      .welcome-slider-io {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        width: 700px;
        height: 120px;
        position: absolute;
        top: 465px;
        left: 304px;
        .welcome-slider-io-metadata {
          width: 71px;
          height: 40px;
          font-family: Roboto, sans-serif;
          font-weight: 400;
          font-size: 20px;
          line-height: 40px;
          vertical-align: middle;
          text-transform: uppercase;
          .bar {
            margin: 0;
            padding: 0;
            height: 22px;
            width: 2px;
            background-color: white;
          }
        }
        .welcome-slider-io-pointer {
          width: 160px;
          height: 12px;
          .welcome-slider-io-point {
            width: 12px;
          }
        }
        .welcome-slider-io-swiper {
          width: 80px;
          height: 8px;
          transform: translateY(-7px);
          .welcome-slider-io-right-arrow, .welcome-slider-io-left-arrow  {
            position: relative;
            width: 30px;
            height: 100%;
            object-fit: cover;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .main-menu-panorama {
        display: none;
      }
    }
  }

  .menu-opened-welcome {
    .text-content {
      display: none;
    }
  }

  .menu-closed-welcome {
    .text-content {
      display: block;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #welcome {
    height: 861px;
    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .text-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        width: 100%;
        height: 165px;
        h1 {
          width: 338px;
          height: 120px;
          font-weight: 400;
          font-size: 40px;
          line-height: 60px;
          letter-spacing: 5px;
          text-align: center;
          text-transform: uppercase;
        }
        h4 {
          width: 350px;
          font-size: 20px;
          letter-spacing: 2px;
        }
        .discover-button {
          display: none;
        }
      }
      .joconda-holder {
        width: 728px;
        height: 546px;
        object-fit: cover;
        .joconda-shadow {
          display: none;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      .welcome-slider-io {
        height: 100px;
        width: 401px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        .welcome-slider-io-metadata {
          width: 71px;
          height: 40px;
          font-size: 20px;
          .bar {
            width: 2px;
            height: 20px;
            background-color: white;
          }
        }
        .welcome-slider-io-pointer {
          width: 160px;
          height: 12px;
          display: flex;
          justify-content: space-between;
          align-content: center;
          .welcome-slider-io-point {
            width: 12px;
          }
        }
        .welcome-slider-io-swiper {
          width: 80px;
          height: 8px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  .menu-opened-welcome {
    .text-content {
      display: none !important;
    }
    .joconda-holder {
      display: none;
    }
    .welcome-slider-io {
      display: none !important;
    }
    .main-menu-panorama {
      display: flex;
      justify-content: space-between;
      align-content: space-between;
      flex-wrap: wrap;
      position: absolute;
      top: 333px;
      width: 658px;
      height: 376px;
      .sunset-holder {
        width: 100%;
        height: 194px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .hall-holder, .view-holder {
        width: 319px;
        height: 161px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .menu-closed-welcome {
    .text-content {
      display: flex;
    }
    .joconda-holder {
      display: block;
    }
    .welcome-slider-io {
      display: flex;
    }
    .main-menu-panorama {
      display: none;
    }
  }
}

@media (min-width: 420px) and (max-width: 767px) {
  #welcome {
    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      height: 544px;
      .text-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 129px;
        width: 280px;
        h1 {
          width: 253px;
          height: 80px;
          text-align: center;
          font-size: 28px;
          letter-spacing: 5px;
          font-weight: 400;
          line-height: 40px;
          text-transform: uppercase;
        }
        h4 {
          width: 280px;
          height: 19px;
          text-align: center;
          font-size: 16px;
          letter-spacing: 2px;
          font-weight: 300;
          line-height: 100%;
        }
        .discover-button {
          display: none;
        }
      }
      .joconda-holder {
        position: absolute;
        width: 380px;
        height: 285px;
        top: 179px;
        object-fit: cover;
        .joconda-shadow {
          display: none;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      .welcome-slider-io {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        width: 230px;
        height: 40px;
        transform: translateY(-20px);
        .welcome-slider-io-metadata {
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
          width: 50px;
          height: 40px;
          font-size: 16px;
          .bar {
            background-color: white;
            height: 16px;
            width: 2px;
            transform: translateY(10px);
          }
        }
        .welcome-slider-io-pointer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 75px;
          height: 7px;
          .welcome-slider-io-point {
            width: 7px;
            height: 7px;
            background-color: white;
          }
        }
        .welcome-slider-io-swiper {
          width: 55px;
          height: 8px;
          transform: translateY(-4px);
          div {
            width: 20px;
            height: 10px;
            img {
              object-fit: contain;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .main-menu-panorama {
        display: none;
      }
    }
  }


  .menu-opened-welcome {
    .text-content {
      display: none !important;
    }
    .joconda-holder {
      display: none;
    }
    .welcome-slider-io {
      display: none !important;
    }
    .main-menu-panorama {
      display: flex !important;
      justify-content: space-between;
      position: absolute;
      top: 333px;
      height: 95px;
      width: 310px;
      left: 35px;
      .sunset-holder, .hall-holder, .view-holder {
        object-fit: cover;
        width: 95px;
        height: 100%;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}


// common
#welcome {
  .content {
    position: relative;
    .text-content {
      h1 {
        z-index: 2;
        color: white;
        font-family: Forum, serif;
      }
      h4 {
        z-index: 2;
        font-family: Roboto, serif;
        font-weight: 300;
        line-height: 100%;
        color: white;
      }
      .discover-button {
        position: absolute;
        font-family: Roboto, serif;
        background: rgba(113, 7, 7, 1);
        transition: background-color 0.5s ease;
        border-radius: 10px;
        z-index: 2;
        font-weight: 300;
        a {
          text-decoration: none;
          height: 100%;
          width: 100%;
          text-align: center;
          font-family: Roboto, sans-serif;
          line-height: 100%;
          letter-spacing: 2px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .discover-button:hover {
        background: rgba(157, 134, 101, 1);
        cursor: pointer;
      }
    }
    .welcome-slider-io {
      bottom: 0;
      right: 0;
      z-index: 3;
      background-color: black;
      font-family: Roboto, sans-serif;
      vertical-align: middle;
      text-transform: uppercase;
      .welcome-slider-io-metadata {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
      }
      .welcome-slider-io-pointer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .welcome-slider-io-point {
          height: 100%;
          background-color: white;
          transition: background-color ease 0.33s;
        }
        .welcome-slider-io-point:hover {
          background-color: rgba(157, 134, 101, 1);
        }
      }
      .welcome-slider-io-swiper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        .welcome-slider-io-left-arrow {
          img {
            transform: scaleX(-1);
          }
        }
      }
    }
  }
}